---
import type { IBlogProps } from './IBlogProps';
import css from './style.module.scss';
import HTML from '../HTML.astro';
import Blog from '../../components/Blog/index.astro';
import Aside from '../../components/Blog/Aside';

type Props = IBlogProps;

const { frontmatter, headings } = Astro.props;
---

<HTML title={'alex13slem | ' + frontmatter.title}>
  <main class={css.root}>
    <div class="container">
      <Aside client:only headings={headings} />
      <Blog frontmatter={frontmatter}>
        <slot />
      </Blog>
    </div>
  </main>
</HTML>
