---
import type { IBlogProps } from './IBlogProps';
import HTML from '../HTML.astro';
import Aside from '../../components/blog/Aside';

type Props = IBlogProps;

const { frontmatter, headings } = Astro.props;
---

<HTML title={'alex13slem | ' + frontmatter.title}>
  <div class="container">
    <Aside client:only headings={headings} />
    <main class="prose">
      <h1>{frontmatter.title}</h1>
      <blockquote><p>{frontmatter.description}</p></blockquote>
      <slot />
    </main>
  </div>
</HTML>

<style>
  .container {
    display: flex;
    align-items: start;

    gap: 1em;
  }
</style>
