.button {
  min-width: 210px;
  width: fit-content;

  padding-inline: 2rem;
  display: inline-block;

  line-height: 3em;
  color: currentColor;
  text-align: center;
  text-transform: uppercase;
  /* font-variant-caps: all-small-caps; */

  border: 1px solid rgb(var(--c-text));

  outline-offset: -2px;
  transition: outline-offset 0.3s ease-in-out;

  &:focus,
  &:hover {
    outline-offset: -4px;
    outline: 1px dashed rgb(var(--c-text));
  }
}
