.root {
  position: absolute;
  background-color: rgb(var(--c-accent), 20%);
  // background-color: transparent;
  backdrop-filter: hue-rotate(183deg) invert(100%) brightness(75%);
  top: 100%;
  right: var(--container-offset);
  color: rgb(var(--c-bg));
  font-size: 2rem;
  border-radius: 0 0 1rem 1rem;
  border: 1px solid rgb(var(--c-bg));
  border-top: none;
  cursor: pointer;

  transition: background-color 0.3s ease-in-out, opacity 0.3s 0.1s ease-in-out;

  opacity: 1;
  pointer-events: auto;

  &.on-top {
    opacity: 0;
    pointer-events: none;
  }

  &:hover {
    background-color: rgba(var(--c-accent), 90%);
  }

  &.hide {
    svg {
      transform: scale(-1);
    }
  }

  svg {
    transition: transform 0.5s ease-in-out;
  }

  @media (max-width: 767.98px) {
    display: none;
  }
}
