.nav-link {
  position: relative;
  padding-inline: 0.5em;

  color: currentColor;
  text-transform: uppercase;

  border: 2px dashed transparent;

  transition: var(--tr-default);
  transition-property: border-color;

  &:hover,
  &:focus-visible,
  &.active {
    border-color: rgb(var(--c-text));
    &::after {
      height: 100%;
      width: 100%;
      opacity: 1;
    }
  }

  @media (max-width: 767.98px) {
    font-size: 7vmin;
  }
}
