.root[data-target='blog'] {
  h1,
  h2 {
    margin-top: 2em;
  }
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.5em;
  }
  h1 {
    text-align: center;
    margin-bottom: 3rem;
  }
  h1,
  h2 {
    text-decoration: underline;
    text-decoration-color: rgb(var(--accent));
  }
  p:not(:first-child) {
    margin-top: 1rem;
  }

  img {
    height: 10rem;
    width: auto;
  }

  blockquote,
  ol,
  ul {
    padding: 1rem 2rem;
    border-left: 4px solid rgb(var(--accent));
    margin-top: 1em;
    font-size: 1.2em;

    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: calc(100% + 5px);
      width: 1rem;
      height: 100%;

      // transform: scaleY(110%);
    }

    img {
      margin-top: 1em;
    }
  }

  ol,
  ul {
    background: rgba(var(--accent), 20%);
    &::before {
      backdrop-filter: blur(1px) contrast(125%);
      opacity: 50%;
    }
  }

  ol {
    padding-left: 4ch;

    li {
      position: relative;
      list-style: none;

      counter-increment: idx 1;

      &::before {
        z-index: -1;
        width: 1.2em;
        position: absolute;
        content: counter(idx);
        top: -0.5em;
        left: -1ch;

        font-size: 1.2em;
        line-height: 1.2;
        text-align: center;
        color: rgba(var(--background), 80%);

        background: rgba(var(--accent), 80%);
        border-radius: 50%;
        box-shadow: -0.25rem -0.25rem rgba(var(--color), 66.6%);
        opacity: 0.8;
      }
    }
  }

  blockquote {
    background: rgba(var(--green), 20%);

    &::before {
      backdrop-filter: blur(1px) hue-rotate(83deg);
      opacity: 50%;
    }
  }

  li {
    margin-top: 2em;
  }

  pre {
    margin: 3rem 4ch;
    margin-right: auto;
  }

  hr {
    margin: 4rem auto;

    height: 4px;
    max-width: 370px;

    background: rgb(var(--accent));
    border: none;
  }

  a {
    text-decoration: underline;
    text-decoration-color: rgb(var(--color));

    transition: color 0.3s steps(2);

    &:hover {
      color: rgba(var(--accent), 85%);
    }
  }

  h1,
  h2,
  h3,
  p {
    text-indent: 2rem;
  }

  h4 {
    text-align: right;
  }
}
