.link[data-target='site-navigation'] {
  position: relative;
  padding-inline: 0.5em;

  color: currentColor;
  text-transform: uppercase;

  &::after {
    z-index: -1;
    content: '';
    position: absolute;
    height: 0%;
    width: 100%;
    bottom: -1px;
    left: 0px;
    opacity: 1;
    transition: all 0.3s ease 0s;
    background: linear-gradient(
      90deg,
      rgb(var(--gradient-start)),
      rgb(var(--gradient-end))
    );
  }

  &:is(:hover, :focus) {
    color: rgb(var(--red-50));
    &::after {
      height: 100%;
      width: 100%;
      opacity: 1;
    }
  }

  @media (max-width: 767.98px) {
    font-size: 7vmin;
  }
}
