/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

body {
  font-size: 2rem;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  color: rgb(var(--color));
  line-height: 1.2;
}

h1 {
  font-size: 3.052em;
}
h2 {
  font-size: 2.441em;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
}
strong,
b {
  font-weight: 700;
}
a {
  color: rgb(var(--accent));
}
p {
  margin-bottom: 1em;
}
.prose p {
  margin-bottom: 2em;
}
textarea {
  width: 100%;
  font-size: 1.6rem;
}
input {
  font-size: 1.6rem;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: rgb(var(--accent), 50%);
}
pre {
  padding: 1.5em;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid rgb(var(--accent));
  padding: 0 0 0 2rem;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid rgb(var(--color));
}

@media (max-width: 767.98px) {
  body {
    font-size: 1.8rem;
  }
}

@media (max-width: 319.98px) {
  body {
    font-size: 1.6rem;
  }
}
