:root {
  color-scheme: light;
  font-family: 'Roboto Mono Variable', monospace;
  font-size: 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--color));

  word-wrap: break-word;
  overflow-wrap: break-word;
}
