:root {
  color-scheme: light;
  scroll-behavior: smooth;
  scroll-padding-top: 2em;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--color));

  word-wrap: break-word;
  overflow-wrap: break-word;

  &:has(#navigation-mobile) {
    overflow: hidden;
  }
}
