:root {
  color-scheme: light;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  font-family: 'Roboto Mono Variable', monospace;
  font-size: 10px;
}
body {
  font-size: 1.4rem;

  background-color: var(--background);
  color: var(--color);
}
