.button {
  min-width: 210px;
  width: fit-content;
  padding: 2rem;

  text-align: center;
  text-transform: uppercase;
  /* font-variant-caps: all-small-caps; */

  border: 1px solid var(--color);

  outline-offset: -2px;
  transition: outline-offset 0.3s ease-in-out;

  &:focus,
  &:hover {
    outline-offset: -4px;
    outline: 1px dashed var(--color);
  }
}
