.root {
  display: grid;
  border-top: rgba(var(--accent)) solid 2px;

  padding-inline: 1ch;
  padding-block: 1em;
  padding-left: 0;
  color: rgba(var(--color));

  &:hover,
  &:focus {
    filter: brightness(1.2);
    text-shadow: 2px 2px rgba(var(--accent)), -3px -2px rgba(var(--color), 20%);
  }
}
