---
import Main from '../layouts/Main.astro';
import SectExperience from '../sections/SectExperience.astro';
import SectHero from '../sections/SectHero.astro';
import SectProjects from '../sections/SectProjects.astro';
---

<Main title="alex13slem | Добро пожаловать!">
  <SectHero />
  <SectProjects />
  <SectExperience />
</Main>
