---
import Main from '../layouts/Main.astro';
import Experience from '../sections/Experience.astro';
import Hero from '../sections/Hero.astro';
---

<Main title="alex13slem | Добро пожаловать!">
  <Hero />
  <Experience />
</Main>
