---
import NavLink from './NavLink.astro';
const {class: className} = Astro.props;
---

<nav class:list={['navigation', className]}>
  <NavLink to="#about">обо мне</NavLink>
  <NavLink to="#experience">опыт</NavLink>
  <NavLink to="#work">работы</NavLink>
  <NavLink to="#contact">контакты</NavLink>
</nav>

<style>
  .navigation {
    display: flex;
    gap: 1.5rem;
  }
  :global(.portal) .navigation {
    display: none;
  }
  @media (max-width: 767.98px) {
    .navigation {
      display: none;
    }

    :global(.portal) .navigation {
      display: flex;
      flex-direction: column;

      .nav-link {
        font-size: 7vmin;
      }
    }

    :global(.portal):has(.navigation) {
      z-index: -1;
      position: fixed;

      inset: 0;
      left: -150%;

      display: grid;
      place-items: center;
      background: transparent;
      transition: all 0.5s ease-in-out;
    }

    :global(.show-nav) :global(.portal):has(.navigation) {
      z-index: 1;
      left: 0;
      background: rgb(var(--background), 97%);
    }
  }
</style>
