---
import { fetchStrapiMany } from '../utils/helpers.ts';

import type { HTMLAttributes } from 'astro/types';
import NavLink from './NavLink';

interface Props extends HTMLAttributes<'nav'> {}

type NavLinkType = {
  text: string;
  link: string;
  order: number;
};

const { class: className, ...props } = Astro.props;
const links = await fetchStrapiMany<NavLinkType>('nav-links').then((links) =>
  links.sort((a, b) => a.order - b.order)
);
---

<nav class:list={['site-nav', className]} {...props}>
  {
    links.map(({ link, text }) => (
      <NavLink client:only to={link}>
        {text}
      </NavLink>
    ))
  }
  <NavLink client:only to={`#footer`}>Контакты</NavLink>
</nav>

<style>
  .site-nav {
    display: flex;
    gap: 1.5rem;
  }

  @media (max-width: 767.98px) {
    .site-nav {
      display: none;
    }
  }
</style>
