---
import {Image} from 'astro:assets';
import imgHeroSource from '../assets/img/hero.png';

const {class: className} = Astro.props;
---

<section class:list={['root', className]}>
  <div class="container">
    <div class="image"><Image src={imgHeroSource} alt="A.S.Scherba" /></div>
    <div class="content">
      <p>Привет, меня зовут</p>
      <h2 class="title">Александр Щерба</h2>
      <h1>WEB-разработчик из Гомеля</h1>
      <a class="button" target="_blank" href="https://t.me/a_s_scherba"
        >Связаться</a
      >
    </div>
  </div>
</section>

<style lang="scss">
  .root {
    padding-block: 4rem;
    background-color: rgb(var(--accent));
  }

  .container {
    display: flex;
    align-items: center;
    gap: 2em;
  }

  .image {
    & img {
      object-fit: cover;
      object-position: 0 0;
      aspect-ratio: 1;
      border-radius: 6%;
      outline: 2px dashed rgb(var(--color));
      outline-offset: 4px;
    }
  }

  p {
    margin: 0;
  }

  .title {
    margin-bottom: 0.5rem;
  }

  h1 {
    font-size: 1rem;
    line-height: 1;
    font-weight: normal;
  }

  .button {
    margin-top: 2rem;
  }

  /* Только для планшетов и десктопов */
  @media (min-width: 768px) {
    .content {
      flex: 0 0 50%;
    }
  }

  /* Только для смартфонов */
  @media (max-width: 767.98px) {
    .container {
      flex-direction: column;
    }
    .content {
      order: -1;
      align-self: start;
    }
    .image {
      max-width: 420px;
      align-self: end;
    }
  }
</style>
