---
// http://localhost:1337/api/sections/1

import ArtExperience from '../components/articles/ArtExperience.astro';
import { fetchStrapiSingle } from '../utils/helpers';
import type { ISectExperience } from '../types/sections/ISectExperience';

const { title, articles } =
  await fetchStrapiSingle<ISectExperience>('sect-experience');
---

<section id="experience" class="sect-experience">
  <div class="container">
    <h2>{title}</h2>
  </div>
  {articles.map((data) => <ArtExperience {data} />)}
</section>

<style>
  .sect-experience {
    padding-top: 4rem;
  }
  h2 {
    margin-bottom: 1em;
    text-decoration: underline;
    text-align: right;
  }
</style>
