---
const {class: className, ...props} = Astro.props;
---

<div class:list={['container', className]} {...props}>
  <slot />
</div>

<style lang="scss">
  .container {
    max-width: calc(var(--container-width) + (var(--container-offset) * 2));
    width: 100%;
    padding-inline: var(--container-offset);
    margin-inline: auto;
  }
</style>
