.root[data-target='site-header'] {
  z-index: 2;
  top: var(--hide-top, 0);

  background: rgb(var(--accent));
  border-bottom: 1px solid rgb(var(--accent));

  transition: top var(--tr-header-hide);

  &::after {
    content: '';
    background: rgb(var(--background));
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    transition: width 0.3s ease 0s;
    z-index: -1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
    width: 0%;
  }

  &.scroll {
    &::after {
      width: 100%;
    }
  }

  &.fixed {
    top: 0;
  }

  .container {
    padding-block: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (max-width: 767.98px) {
    top: var(--top, 0);
    &.hide {
      transform: translateY(0);
    }
  }
}
